
.search-input {
    display: flex;
    width: 100%;
    background-color: $grey;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    box-shadow: inset 0px 1px 3px grey;
    margin: 0px;
}
.fa-map-marker-alt{
    display: flex;
    padding-right: 10px;
}
.input {
    background-color: $grey;
    border: none;
}
input::-webkit-input-placeholder {
    color: black;
    font-size: 17px;
}
.search-input__text {
    display: block;
    text-align: center;
    margin: 0px;
    padding: 40px;
    background-color: lighten($grey, $amount: 3);
    flex-direction: column;
    p{
        color: lighten(#000000, $amount: 20);
        font-weight: 300;
    }
}
.search-button{
    text-align: center;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    background: linear-gradient($magenta, $purple) ;
    color: white;
    cursor: pointer;
    padding: 15px 30px 15px 30px;;
    margin: 20px;
}



