aside{
    padding: 25px;
}
.tuto{
    display: flex;
    flex-direction: column;
}
.tuto__content{
    @media screen and (min-width:$responsivetuto) {
        display:flex;
        justify-content: space-around;
    }
}
.tuto__byline{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 15px;
    background: lighten($grey, $amount: 2);
    padding: 25px;
    font-weight: 500;
    box-shadow: 3px 3px 2px $grey;
    margin: 0px;
    cursor: pointer;
    &:hover{
        color: $purple;
    }
    .fas{
        margin-right: 30px;
        font-size: 25px;
        color: grey;
    }
    h4{
        margin:0px;
    }
}
.tuto__circle
{
    position: relative;
    top: 52px;
    left: -8px;
    background-color: $purple;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    text-align: center;
    color: white;
    padding: 3px;
    margin: 0px;
}
