@mixin btn {
    text-align: center;
    font-size: 15px;
    border: none;
    border-radius: 25px;
    background: linear-gradient($magenta, $purple) ;
    color: white;
    cursor: pointer;
    padding: 15px 30px 15px 30px;;
    margin: 20px;
}