@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 0px 10px 0px;
}

* {
  font-family: "roboto";
}

body {
  padding: 0px;
  margin: 0px;
  margin-left: auto;
  margin-right: auto;
}

.search-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #eeeeee;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px 20px 0px;
  -webkit-box-shadow: inset 0px 1px 3px grey;
          box-shadow: inset 0px 1px 3px grey;
  margin: 0px;
}

.fa-map-marker-alt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 10px;
}

.input {
  background-color: #eeeeee;
  border: none;
}

input::-webkit-input-placeholder {
  color: black;
  font-size: 17px;
}

.search-input__text {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 40px;
  background-color: #f6f6f6;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-input__text p {
  color: #333333;
  font-weight: 300;
}

.search-button {
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  margin: 20px;
  -webkit-transition: cubic-bezier(1, 0, 0.18, 0.83) 0.3s;
  transition: cubic-bezier(1, 0, 0.18, 0.83) 0.3s;
}

.search-button:hover {
  opacity: 95%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 2px 5px black;
          box-shadow: 1px 2px 5px black;
}

aside {
  padding: 25px;
  max-width: 1400px;
  margin: auto;
}

.tuto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 940px) {
  .tuto__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.tuto__byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-radius: 15px;
  background: #f3f3f3;
  padding: 25px;
  font-weight: 500;
  -webkit-box-shadow: 3px 3px 2px #eeeeee;
          box-shadow: 3px 3px 2px #eeeeee;
  margin: 0px;
  cursor: pointer;
}

.tuto__byline:hover {
  background-color: #e8f9f5;
}

.tuto__byline .fas {
  margin-right: 30px;
  font-size: 25px;
  color: grey;
}

.tuto__byline h4 {
  margin: 0px;
}

.tuto__circle {
  position: relative;
  top: 52px;
  left: -8px;
  background-color: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  text-align: center;
  color: white;
  padding: 3px;
  margin: 0px;
}

main {
  background-color: #eeeeee;
  padding: 20px;
}

.restaurants__container {
  max-width: 1400px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.restaurants {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 740px) {
  .restaurants {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.restaurant__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

@media screen and (min-width: 740px) {
  .restaurant__bloc {
    margin: 15px;
  }
}

.restaurant {
  position: relative;
  border: none;
  border-radius: 25px;
  margin-bottom: 25px;
  background-color: white;
  width: 100%;
  -webkit-box-shadow: 2px 2px 10px #d5d5d5;
          box-shadow: 2px 2px 10px #d5d5d5;
}

.restaurant img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 200px;
  border-radius: 25px 25px 0px 0px;
}

.restaurant a {
  text-decoration: none;
  color: black;
}

.restaurant h4 {
  margin: 10px 0px 5px 15px;
  font-size: large;
}

.restaurant p {
  font-weight: 300;
  margin: 0px 0px 15px 15px;
}

.restaurant__new {
  position: absolute;
  margin-top: 20px;
  right: 20px;
  background-color: #99E2D0;
  color: #278870;
  padding: 5px;
  border-radius: 5px;
}

.fa-heart {
  position: absolute;
  margin-top: 220px;
  right: 20px;
  font-size: x-large;
  cursor: pointer;
}

.fa-heart:hover {
  color: transparent;
}

.restaurant__heartfull {
  color: transparent;
  -webkit-transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s;
  transition: cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.3s;
}

.restaurant__heartfull:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  -webkit-background: content-box;
  -webkit-background-clip: text;
  background-clip: text;
}

footer {
  background-color: #3c3c3c;
  color: white;
  padding: 20px;
}

footer h3 {
  font-family: "Shrikhand";
  letter-spacing: 1px;
  font-size: 25px;
}

footer .fas {
  margin: 0%;
  padding-right: 10px;
}

footer p {
  margin: 0%;
  padding-bottom: 10px;
}

.footer__byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.fa-arrow-left {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: larger;
  text-decoration: none;
  color: black;
}

.menu__img {
  width: 100%;
}

.menu__img img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__menu {
  border-radius: 45px 45px 0px 0px;
  position: relative;
  z-index: 1;
  margin-top: -40px;
}

.main__menu h2 {
  font-family: "Shrikhand";
}

.main__menu h3 {
  font-weight: 300;
  border-bottom: 3px solid #99E2D0;
  width: 40px;
}

.main__menu button {
  text-align: center;
  font-size: 15px;
  border: none;
  border-radius: 25px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), to(#9356DC));
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
  cursor: pointer;
  padding: 15px 30px 15px 30px;
  margin: 20px;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.main__menu button:hover {
  opacity: 95%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 1px 2px 5px black;
          box-shadow: 1px 2px 5px black;
}

@media screen and (min-width: 1150px) {
  .main__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

h4 {
  margin: 0px 0px 5px 0px;
  font-size: large;
}

p {
  margin: 0px 0px 5px 0px;
  font-weight: 300;
}

.starters__dishes {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 10px #d5d5d5;
          box-shadow: 2px 2px 10px #d5d5d5;
  -webkit-animation: menuslide 1.5s cubic-bezier(0.03, 0.5, 0.46, 1.1);
          animation: menuslide 1.5s cubic-bezier(0.03, 0.5, 0.46, 1.1);
  overflow: hidden;
  cursor: pointer;
}

.starters__dishes .starters__byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1150px) {
  .starters__dishes {
    width: 100%;
  }
}

.starters__dishes:hover .checkbox {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  margin-right: -20px;
  z-index: 110;
}

.starters__dishes:hover .fa-check-circle {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.maindishes__dishes {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 10px #d5d5d5;
          box-shadow: 2px 2px 10px #d5d5d5;
  -webkit-animation: menuslide 1.5s cubic-bezier(0.03, 0.5, 0.46, 1.1);
          animation: menuslide 1.5s cubic-bezier(0.03, 0.5, 0.46, 1.1);
  overflow: hidden;
  cursor: pointer;
}

.maindishes__dishes .maindishes__byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1150px) {
  .maindishes__dishes {
    width: 100%;
  }
}

.maindishes__dishes:hover .checkbox {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  margin-right: -20px;
  z-index: 110;
}

.maindishes__dishes:hover .fa-check-circle {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

.desserts__dishes {
  background-color: white;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 15px;
  -webkit-box-shadow: 2px 2px 10px #d5d5d5;
          box-shadow: 2px 2px 10px #d5d5d5;
  -webkit-animation: menuslide 1.5s cubic-bezier(0.03, 0.5, 0.46, 1.1);
          animation: menuslide 1.5s cubic-bezier(0.03, 0.5, 0.46, 1.1);
  overflow: hidden;
  cursor: pointer;
}

.desserts__dishes .desserts__byline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1150px) {
  .desserts__dishes {
    width: 100%;
  }
}

.desserts__dishes:hover .checkbox {
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  margin-right: -20px;
}

.desserts__dishes:hover .fa-check-circle {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
}

@media screen and (min-width: 1150px) {
  .main__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.restaurant__heart {
  margin-top: 20px;
  right: 50px;
}

.dish1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.dish2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.dish3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.dish4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.dish5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.dish6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.dish7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.dish8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.dish9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.dish10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes menuslide {
  0% {
    -webkit-transform: translatex(-1000px);
            transform: translatex(-1000px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

@keyframes menuslide {
  0% {
    -webkit-transform: translatex(-1000px);
            transform: translatex(-1000px);
  }
  100% {
    -webkit-transform: translatex(0px);
            transform: translatex(0px);
  }
}

.fa-check-circle {
  color: white;
  font-size: 20px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.checkbox {
  background-color: #99E2D0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 85px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -70px;
  margin-bottom: -20px;
  margin-right: -100px;
  margin-left: auto;
}

.spinner {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  -webkit-animation: fadein 3s forwards;
          animation: fadein 3s forwards;
}

@-webkit-keyframes fadein {
  0% {
    z-index: 10000;
  }
  99% {
    z-index: 1000;
    visibility: hidden;
  }
  100% {
    z-index: -1000;
    visibility: hidden;
  }
}

@keyframes fadein {
  0% {
    z-index: 10000;
  }
  99% {
    z-index: 1000;
    visibility: hidden;
  }
  100% {
    z-index: -1000;
    visibility: hidden;
  }
}

.spinner__oh {
  color: #FF79DA;
  font-size: 100px;
  font-family: "Shrikhand";
  -webkit-animation: slideinleft 3s cubic-bezier(1, -0.18, 0.25, 0.97);
          animation: slideinleft 3s cubic-bezier(1, -0.18, 0.25, 0.97);
}

.spinner__my {
  color: #99E2D0;
  font-size: 100px;
  font-family: "Shrikhand";
  -webkit-animation: slideinright 3s cubic-bezier(1, -0.18, 0.25, 0.97);
          animation: slideinright 3s cubic-bezier(1, -0.18, 0.25, 0.97);
}

.spinner__food {
  color: #9356DC;
  font-size: 100px;
  font-family: "Shrikhand";
  -webkit-animation: slideinleft 3s cubic-bezier(1, -0.18, 0.25, 0.97);
          animation: slideinleft 3s cubic-bezier(1, -0.18, 0.25, 0.97);
}

@-webkit-keyframes slideinleft {
  .0% {
    margin-left: 120%;
  }
  50% {
    margin-left: 0%;
    margin-right: 0%;
  }
  100% {
    margin-right: 120%;
  }
}

@keyframes slideinleft {
  .0% {
    margin-left: 120%;
  }
  50% {
    margin-left: 0%;
    margin-right: 0%;
  }
  100% {
    margin-right: 120%;
  }
}

@-webkit-keyframes slideinright {
  .0% {
    margin-right: 120%;
  }
  50% {
    margin-right: 0%;
    margin-left: 0%;
  }
  100% {
    margin-left: 120%;
  }
}

@keyframes slideinright {
  .0% {
    margin-right: 120%;
  }
  50% {
    margin-right: 0%;
    margin-left: 0%;
  }
  100% {
    margin-left: 120%;
  }
}
/*# sourceMappingURL=main.css.map */